@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo&display=swap');

img#image{
    width: 45%;
    height: 45%;
    border: 2px solid black;
    border-radius: 25px;
    margin-bottom: 10px;
}


.application{
    align-content: center;
    text-align: center;
    background-color: #50768a;
    padding: 10px;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 25px;
}

p#timedGreeting{
    font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive;
    margin: -5px;
    
}

h1{
    font-family: 'Heebo', sans-serif;
    font-size: 1.5rem;
    text-decoration: underline;
}

p#displayDate,
div#displayTime.clock{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5vw;
    background-color: white;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
}

#hiddensection{
    display: none;
}

#hiddensettings{
    display: none;
}

button#colorswap{
    text-align: center;
    justify-content: center;
}

p#weekDay{
    font-size: 1.5rem;
    font-family: 'Heebo', sans-serif;
    color: white;
}

button#settings{
    margin-bottom: 10px;
}